.header {
    height: 110vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    border-bottom: $border;

}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 100px;
    margin: 0px auto;
  &__logo {

    &--logo {
        width: 140px;  
    }

  }
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    padding : 50px 0px;
    margin: 0px auto;
    position: relative;    

  &__details {

    flex : 0 0 50%;
   h1 {
     font-size: 48px;
     margin-bottom: 20px;
   }
   h4 {
     font-size: 29px;
     font-weight: 400;
   }
  }

  &__image {
    max-width: 45%;
    z-index: 555;
    position: relative;
  }
}

.flex__image--mobile {
  width: 40%;
}


//Frequently Asked Question

.faq {
  background-color: #000000;
  color : $color-white;

  &__container {
    width : 100%;
    background-color: #000000;
    text-align: center;
    padding: 40px 0px;
  }
}

.accordion {
  width : 60%;
  margin : 20px auto;
  text-align: left;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 25px 50px;
    margin-bottom: 12px;
    cursor: pointer;
  }

  &__answer {
    display: none;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 25px 50px;
  }


  h2 {
    font-weight: 400;
  }

  p {
    font-weight: 400;
    font-size : 25px
  }

  .fa-plus {
    border: none;
    cursor: pointer;
    transition : all .5s;
    font-size: 22px;
  }

  .active .fa-plus {
    transform : rotate(45deg)
  }

}

details {
}