.last-image {
  position: relative;
  z-index: 55;
}


.video3 {
  width: 320px;
  height: 330px;
  position: absolute;
  top: 9px;
  right: 85px;
  border-radius: 19px;
  }

  .video1 {
    width : 320px;
    height : 330px;
    position: absolute;
    top: 80px;
    right: 80px;
    border-radius: 50px;
  }